/* * {
    box-sizing: border-box;
    border: solid 2x black;
} */

body {
    background-color: #252525;
    font-family: 'Source Code Pro', monospace;
    color:whitesmoke;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: repeat(9,fr);
    grid-template-areas: 
    "h1 h1 h1"
    "box-1 box-2 box3"
    "box-4 box-5 box-6"
    "box-7 box-8 box-9"
    "box-10 box-11 box-12"
    "box-13 box-14 box-15";
}

.header {
    box-sizing: border-box;
    grid-area: h1;
    border: solid 10px #9b29ec;
    border-radius: 10px;
    padding: 2%;
}

h2 {
    text-align: justify;
}

.tutorials {
    grid-area:box-2;
    border: solid 10px #9b29ec;
    border-radius: 10px;
    padding: 5%;
}

.homework {
    grid-area:box-5;
}

.inspiration {
    grid-area: box-8;
}

.inspiration .links {
    text-align: justify;
}

.item {
    border: solid 10px #9b29ec;
    border-radius: 10px;
    padding: 5%;
    margin:5%;
}

.assignments{
    grid-area: box-11;
}
a {
    color:rgb(211, 211, 50);
}
a:hover {
    color: yellow;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}