html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* Your CSS Code Here! */

/* Why is there this gap at the top of the page? Answer: because of h1 or ul tag, fix by
setting margin to zero.*/
header {
    background-color: steelblue;
    color: white;
    text-align: center;
    border-radius: 5px;
}

ul {
    margin:0;
}

header ul {
    list-style: none;
    color: white;
    text-align: right;
}

.horizontal {
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 1%;
    padding-left: 1%;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

header ul a:link {
    text-decoration: none;
    color: white;
}

header img {
    border-radius: 50%;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

/* This seems to work with the window at 50% width... is this a kludge? Inspector says
flexbox is an 'invalid propery value' */
#about {
    display: flex;
    padding:10vh 20vw;
    flex-direction: column;
}

.project-holder{
    display: grid;
    grid-template-columns: 1fr 25% 25% 1fr;
    grid-template-rows: 100px 1fr 1fr;
    background-color: lightgrey;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 50px;
}

/* Is this an ok way to do this? Is there a better way? 
Note: this breaks (the pics lose their margin) when
the window size gets too small. Solution: set .card img width to 100%
Maybe use flex here instead?*/
#project-header {
    grid-column-start: 2;
}

.card img {
    width: 100%;
}
.card-1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.card-2 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.card-3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.card-4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

/* how can I define the maximum height for this container? I want to add rows to position
the title/text/buttons. Would it be better to use grid template areas?*/
#contact {
    /* display: grid;
    grid-template-columns: 1fr 25% 25% 1fr;
    grid-template-rows: 100px 100px 100px 100px; */
    /* padding-left: 15vw;
    padding-right: 15vw; */
    /* padding: 50px;  */
    padding:5vh 15vw;
}

.contact-details {
    display: grid;
    grid-template-columns: 3fr 2fr ;
}

.form {
    display:grid;
}

#contact-info {
    display: flex;
    flex-direction: column;
}
/* "Get In Touch" I don't know where to start with this. Is this a use case for grid? */
/* #contact h2 {
    display: grid;
    grid-column-start: 2;
}

#contact p {
    display: grid;
    grid-column-start: 2;
    grid-column-end:span 2;
    grid-row-start: 2 ;
}

.fa-solid {
    display:grid;
    grid-column-start: 3;
}

#contact form {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
} */


footer {
    display: flex;
    background-color: lightgray;
    text-align: center;
    justify-content: center;
    padding: 50px;
}
