html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* Your CSS Code Here! */

/* Why is there this gap at the top of the page? */
header {
    background-color: steelblue;
    color: white;
    text-align: center;
    border-radius: 5px;
}

header ul {
    list-style: none;
    color: white;
    text-align: right;
}

.horizontal {
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 1%;
    padding-left: 1%;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

header ul a:link {
    text-decoration: none;
    color: white;
}

header img {
    border-radius: 50%;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

/* This seems to work with the window at 50% width... is this a kludge? Inspector says
flexbox is an 'invalid propery value' */
#about {
    display: flexbox;
    margin: 20%;
}

.project-holder{
    display: grid;
    grid-template-columns: 1fr 25% 25% 1fr;
    grid-template-rows: 100px 1fr 1fr;
    background-color: lightgrey;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 50px;
}

<<<<<<< HEAD
/* in the example Projects is in the grey area and aligned differently, is this a requirement? */

/* Is this an ok way to do this? Is there a better way? 
Note: this breaks (the pics lose their margin) when
the window size gets too small.
Maybe use flex here instead?*/
=======
/* Is this an ok way to do this? Is there a better way? */
>>>>>>> 5aa95c6bd17185af5757056ec8febde0bdbf2be7
#project-header {
    grid-column-start: 2;
}

.card-1 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.card-2 {
    grid-column-start: 3;
    grid-row-start: 2;
}
.card-3 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.card-4 {
    grid-column-start: 3;
    grid-row-start: 3;
}

/* how can I define the maximum height for this container? I want to add rows to position
the title/text/buttons. Would it be better to use grid template areas?*/
#contact {
    display: grid;
    grid-template-columns: 1fr 25% 25% 1fr;
    grid-template-rows: 100px 100px 100px 100px;
    padding: 50px; 
}

/* "Get In Touch" I don't know where to start with this. Is this a use case for grid? */
#contact h2 {
    display: grid;
    grid-column-start: 2;
}

#contact p {
    display: grid;
    grid-column-start: 2;
    grid-column-end:span 2;
    grid-row-start: 2 ;
}

.fa-solid {
    display:grid;
    grid-column-start: 3;
}

#contact form {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 3;
}

/* I added a container for the footer in the html... I think I've been looking at this for
too long. */
.footer-container {
    display: flex;
    background-color: lightgray;
    min-height: 100px;
}

footer {
    background-color: lightgrey;
    
}