body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    height: 100vh;
    /* body tag is a grid */
    display: grid;
    grid-template-columns: 19% auto;
    grid-template-rows: auto 100px;
    background-color: #222;
}
aside {
    background-color: #000;
    grid-column-start: 1;
    
}
header {
    background: #111;
    position: sticky;
    top: 0px;
}

/* Uncomment to see borders:  */
/* header, nav, article {
    border: solid 5px teal;
    padding: 10px;
}
main {
    border: solid 5px hotpink;
    padding: 10px;
} */

main {
    background: #111;
    grid-column-start: 2;
    overflow-y: auto;
    z-index: 3;
}

footer {
    background: #222;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */

#sidebar {
    row-gap: 3vh;
    
}

aside > a {
    padding-left: 15%;
    font-size: 1.7rem;
}

aside > h1 {
    padding-left: 10%;
    font-size: 3.3rem;
}
 

/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */

header {
    flex-direction: row-reverse;
    column-gap: 2vw;
    padding: 2vw;
}

#upgrade {
    font-size: 1.7rem;
    border: solid;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px 2px;
    border-radius: 30px;
}

#profile {
    font-size: 1.7rem;
    background-color: #222;
    border: solid #222;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 30px;
}

nav {
    flex-direction: row;
    column-gap: 5vw;
    padding: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 1.6rem;
}



/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here.
   For the desktop view, there should be 5 cards per row.
*/

#featured-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    
}

.artist-card {
    background-color: #222;
    max-width: 18%;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 5%;
    margin: 1%;
}

.artist-card div img {
    width: 100%;
    border-radius: 50%;
}

.doggo {
    width: 150%;
}



/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media screen and (max-width: 1000px) {
    /* 
        Tablet Display: 3 cards per row!
    
    */

    #featured-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100vw;
        
    }
    
    .artist-card {
        background-color: #222;
        max-width: 31%;
        padding: 1%;
        padding-bottom: 1%;
        border-radius: 5%;
        margin: 1%;
    }
    
    .artist-card div img {
        width: 100%;
        border-radius: 50%;
    }
}


@media screen and (max-width: 700px) {
    /* Mobile Display 
        * 2 cards per row
        * The aside panel and "Upgrade" button should no longer be visible.
        * There should only be a 1-column layout.
    */
    #container {
        overflow: hidden;
        margin: 0px;
        height: 100vh;
        /* body tag is a grid */
        display: grid;
        grid-template-columns:0% 1fr;
        grid-template-rows: auto 100px;
        background-color: #222;
    }

    #featured-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100vw;
        
    }
    
    .artist-card {
        background-color: #222;
        max-width: 46%;
        padding: 1%;
        padding-bottom: 1%;
        border-radius: 5%;
        margin: 2%;
    }
    
    .artist-card div img {
        width: 100%;
        border-radius: 50%;
    }

    #upgrade {
        display: none;
    }

    aside {
        display: none;
    }

    footer {
        background: #222;
        grid-row-start: 2;
    }
    
}


