@import url(https://fonts.google.com/specimen/Open+Sans);


body {
    font-family: 'Open Sans' , sans-serif;
    text-align: center;
    background-color: dimgray;
}

/* Your code here */

.navbar {
    padding: 20px;
    background-color:mediumpurple;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color:black;
}

h1 {
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


main section {

    display: inline-block;
    margin: 20px;
    border-color: black;
    font-family: 'Open Sans' , sans-serif;
}

section p {
    margin: 15px 10px 30px 10px;

}

section:hover{
    scale: 1.01;
    opacity: 50%;
    transform: rotate(180deg);
}